.teammate {
    width: 272px;
    padding: 32px;
    background-color: #fff;
    color: #868686;
    font-family: "Montserrat - Regular";
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    position: relative;
    margin: 10px auto; /*!*/
}

.teammate > img{
    margin-bottom: 15px;
    width: 100%;
}

.teammate .img-responsive img{
    width: 32px;
    display: block;
}

.teammate__name{
    color: #000;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 15px;
}

.teammate__position, .teammate__company,.teammate__about {
    margin-bottom: 12px;
}

.teammate__location{
    margin-bottom: 20px;
}

.teammate__linkein{
    position: absolute;
    left: 5%;
    bottom: 5%;
}

@media (max-width:1200px),(max-device-width:1200px) {
    .teammate{
        margin: 25px;
    }
}
