.title{
    font-family: "Montserrat - Regular";
    text-align: center;
    max-width: 840px;
    margin: auto;
}

.title-marginBottom-30{
    margin-bottom: 30px;
}

.title__text{
    line-height: 24px;
    font-size: 30px;
    padding: 0px 10px;
    font-variant: small-caps;
    line-height: 30px;
}

.title__text-color-white{
    color: #fff;
}

.title__text-marginBottom-20{
    margin-bottom: 20px;
}

.title__subtext{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px 10px;
}

.title-maxWidth-670{
    max-width: 670px;
}

.title-margin-0{
    margin: 0px;
}
