.advantage {
    width: 302px;
    padding: 16px 45px 25px 45px;
    align-self:stretch;
    position: relative;
}

.advantage_alignSelf_start{
    align-self: flex-start;
}

.advantage_width_390{
    max-width: 390px;
}

.advantage_width_100{
    width: 100%;
}

.advantage_width_300{
    width: 300px;
}

.advantage_width_360{
    max-width: 360px;
}

.advantage_padding_0{
    padding: 0px;
}

.advantage_color_white{
    color: #fff;
}

.advantage_margin_10{
    margin: 10px;
}

.advantage_marginTopRight_10{
    margin: 10px 10px 0px 0px;
}

.advantage_background_gray{
    background-color: #f2f2f2;
}

.advantage_background_gray2{
    background-color: #d9d9d9;
}


.advantage__img {
    height: 77px;
}

.advantage__img_center{
    display: block;
    margin: auto;
}

.advantage__img_marginBottom_35{
    margin-bottom: 35px;
}

.advantage__imgIco1, .advantage__imgIco2, .advantage__imgIco3{
    height: 64px;
    margin-bottom: 15px;
}

.advantage__imgIco1{
    background: url("img/advantageIco1.png") no-repeat left center;
}
.advantage__imgIco2{
    background: url("img/advantageIco2.png") no-repeat left center;
}
.advantage__imgIco3{
    background: url("img/advantageIco3.png") no-repeat left center;
}

.advantage__wrapper{
    /* height: 140px; */
}

.advantage__wrapper__height140{
    height: 140px;
}

.advantage__wrapper_marginLeft_10{
    margin-left: 10px;
}

.advantage_flex{
    display: flex;
    align-items: flex-start;
}

.advantage__wrapper_borderLeft_1{
    border-left: 1px solid #fff;
    padding-left: 10px;
}

.advantage__title_textAlign_left, .advantage__text_textAlign_left{
    text-align: left !important;
}

.advantage__padding_20{
    padding: 20px;
}


.advantage__img_1{
    background: url("img/advantage1.png") no-repeat center;
    width: 73px;
    height: 73px;
    background-size: cover;
    margin: auto;
}
.advantage__img_2{
    background: url("img/advantage2.png") no-repeat center;
    width: 73px;
    height: 73px;
    background-size: cover;
    margin: auto;
}
.advantage__img_3{
    background: url("img/advantage3.png") no-repeat center;
    width: 73px;
    height: 73px;
    background-size: cover;
    margin: auto;
}


.advantage__customImg_margin_auto{
    margin: auto;
}
.advantage__customImg_marginBottom_20{
    margin-bottom: 20px;
}
.advantage__customImg_block{
    display: block;
}

.advantage__title,  .advantage__text {
    font-family: "Montserrat - Regular";
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.advantage__title{

}

.advantage__text {
    font-size: 14px;
    font-weight: 500;
}

.advantage__text_margin_0{
    margin: 0px;
}

.advantage__text_fontSize_12{
    font-size: 12px;
}


.advantage__button {
    display: block;
    margin: auto;
}

.advantage__title_size_16{
    font-size: 16px;
}

.advantage__title_size_18{
    font-size: 18px;
}

.advantage__title_marginBottom_33{
    margin-bottom: 33px;
}

.advantage__title_textAlign_left{
    text-align: left;
}

.advatnage__text_color_gray{
    color: #9c9c9c;
}


@media (max-width:945px),(max-device-width:945px) {
    .advantage{
        align-self:auto;
        margin-bottom: 10px;
    }
}

@media (max-width:710px),(max-device-width:710px) {
    .advantage__chess-img{
        display: block;
        margin: auto;
        margin-bottom: 25px;
    }

    .advantage_chess{
        margin: 10px auto;
        width: 90%;
    }

}
