.document{
    position: relative;
    font-family: "Montserrat - Regular";
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    color: #000;
    padding-left: 25px;
    margin: 25px;
}


.document::before{
    content: "";
    position: absolute;
    width: 24px;
    left: 0%;
    top: -3px;
    height: 24px;
    background: url("img/document.png") no-repeat center;
    background-size: cover;
}
