.compareTable {
    max-width: 720px;
    margin: auto;
}

.compareTable__table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.compareTable__row_background_white{
    background-color: #fff;
}


.compareTable__table td:nth-of-type(1){
    font-family: "Montserrat - Regular";
}

.compareTable__table td:not(:nth-of-type(1)){
    font-family: "Montserrat - Semi Bold";
    font-size: 20px;
    font-weight: bold;
}

.compareTable__table tr:not(.compareTable__title) td, .compareTable__table tr:not(.compareTable__title) th{
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.compareTable__table th{
    font-family: "Montserrat - Semi Bold";
    font-size: 20px;
    font-weight: bold;
}

.compareTable__title td{
    font-family: "Montserrat - Regular";
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0px;
}

@media (max-width:700px), (max-device-width:700px) {
    .compareTable__table td:not(:nth-of-type(1)){
        text-align: center;
    }
}

@media (max-width:740px),(max-device-width:740px) {
    .compareTable__table td, .compareTable__table th{
        font-size: 14px !important;
    }
}

.compareTable__wrapper{
    overflow: auto;
}

.compareTable_features .compareTable__table{
    max-width: 830px;
    min-width: 530px;

}

.compareTable_features .compareTable__table  td:not(:nth-of-type(1)){
    font-family: "Montserrat - Semi Bold";
    font-size: 16px;
    font-weight: bold;
}
