include ../blocks/advantage/advantage.jade
- var advantages = []
- advantages.push({title: "Финансовые и банковские системы",imgSrc: "img/bank-system.png",imgWidth:"170px", imgHeight:"160px",text: "Финансовые институты смогут существенно сократить операционные издержки, исключив посредников и надежно защитив свои данные."})
- advantages.push({title: "Интернет вещей IOT",imgSrc: "img/smart-tech.png",imgWidth:"170px", imgHeight:"160px",text: "Платформа и смарт контракты позволяет соединять различные предметы интернета вещей в единую сеть и управлять ими: smart City, smart house, smart car, smart business etc."})
- advantages.push({title: "Кредитование",imgSrc: "img/global-credits.png",imgWidth:"170px", imgHeight:"160px",text: "Кредитные роботы, выдающие кредиты по оптимальным условиям независимо от стран и континентов. Глобально любому человеку в любой стране на платформе CREDITS."})
- advantages.push({title: "Страхование",imgSrc: "img/protection.png",imgWidth:"170px", imgHeight:"140px",text: "Смарт-контракты CREDITS позволят автоматизировать процесс инициации страховых выплат и поступлений страховых событий. Сделают рынок страховых услуг более прозрачным."})
- advantages.push({title: "Медицина",imgSrc: "img/medicine.png",imgWidth:"170px", imgHeight:"160px",text: "CREDITS позволит перейти медицине на новый уровень взаимодействия врачей и пациентов: создание медицинских картотек, носимые датчики состояния здоровья."})
- advantages.push({title: "Туризм",imgSrc: "img/tourism.png",imgWidth:"170px", imgHeight:"160px",text: "С помощью полноценных смарт-контрактов CREDITS владельцы отелей, гостиниц и других курортных зон смогут избавиться от посредников и значительно сэкономить расходы на продажи туров."})
- advantages.push({title: "Логистика",imgSrc: "img/logistic.png",imgWidth:"170px", imgHeight:"160px",text: "В сети CREDITS организация сможет воспользоваться простыми и эффективными инструментами слежения с момента отгрузки товара до его прибытия в пункт назначения."})
- advantages.push({title: "Онлайн-игры",imgSrc: "img/games.png",imgWidth:"170px", imgHeight:"160px",text: "Разработчики онлайн-игр смогут обойти монополию крупных игровых корпораций и напрямую собирать финансирование для создания собственных игровых проектов на платформе CREDITS."})
- advantages.push({title: "Онлайн-голосование",imgSrc: "img/hands.png",imgWidth:"170px", imgHeight:"160px",text: "Процедура голосования может быть организована на блокчейне CREDITS, что придаст ей легитимность и упростит коммуникацию между участниками."})
- advantages.push({title: "Государственные реестры данных",imgSrc: "img/catalogue.png",imgWidth:"170px", imgHeight:"160px",text: "Ведение любых реестров данных на платформе CREDITS, например, учет прав на недвижимость или реестр юридических лиц."})
- advantages.push({title: "Авторское право",imgSrc: "img/copyright.png",imgWidth:"170px", imgHeight:"160px",text: "Применение блокчейн платформы CREDITS позволит участникам фиксировать основные транзакции с объектами интеллектуальной собственности и правами на них, предоставлять доступ к объектам с использованием смарт-контрактов."})
- advantages.push({title: "Управление бизнес-процессами",imgSrc: "img/business-process.png",imgWidth:"170px", imgHeight:"160px",text: "Компании могут использовать платформу CREDITS для оптимизации бизнес-процессов сверки данных и проведения аудитов."})
- advantages.push({title: "Цифровая идентификация и верификация",imgSrc: "img/analytics.png",imgWidth:"170px", imgHeight:"160px",text: "Для идентификации пользователей и уровня доступа можно применять блокчейн CREDITS, смарт-контракты которого помогут задать определенный уровень доступа к данным."})
- advantages.push({title: "Рынок труда",imgSrc: "img/employment.png",imgWidth:"170px", imgHeight:"160px",text: "На Credits можно создать приложение для HH, которое позволяет людям предоставлять свои документы без необходимости в дополнительной проверке третьей стороной. Работодатели могут быть уверены, что соискатель предоставил достоверно верные данные."})

include ../blocks/head/head.jade
include ../blocks/header/header.jade

.container.container_paddingVertical_20
    .title
        h2.title__text Возможности CREDITS
        
    .row.row_spaceAround.row_wrap.row.row_width_710.row_margin_auto
        each val, index in advantages
                +advantage(val,index)
            
include ../blocks/footer/footer.jade
