.row{
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row_maxWidth_760{
    max-width: 760px;
}

.row_marginBottom_40{
    margin-bottom: 40px;
}

.row_background_black{
    background-color: #000;
}

.row_paddingVertical_40{
    padding-top: 40px;
    padding-bottom: 40px;
}

.row_paddingHorizontal_20{
    padding-left: 20px;
    padding-right: 20px;
}

.row_margin_auto{
    margin: auto;
}

.row_wrap{
    flex-wrap: wrap;
}

.row_reverse{
    flex-direction: row-reverse;
}

.row_justifyContent_start{
    justify-content: flex-start;
}

.row_width_435{
    max-width: 435px;
}

.row_width_380{
    max-width: 380px;
}

.row_width_710{
    max-width: 710px;
}

.row_width_950{
    max-width: 950px;
}

.row_maxWidth_800{
    max-width: 800px;
}



.row_alignItems_top{
    align-items: flex-start;
}

.row_alignItems_stretch{
    align-items: stretch;
}
.row_alignItems_end{
    align-items: flex-end;
}
.row_alignItems_center{
    align-items: center;
}

.row_direction_col{
    flex-direction: column;
}

.row_spaceAround{
    justify-content: space-around;
}

.row__wrapper{

}

.row__wrapper_marginTop_20{
    margin-top: 20px;
}

.row_team{

}

.row__video{
    margin:auto;
    display:block;
    width:47%;
    height: 300px;
}

@media (max-width:1245px),(max-device-width:1245px) {
    .row_spaceAround_1245{
        justify-content: space-around;
    }
}


@media (max-width:1205px),(max-device-width:1205px) {
    .row_team{
        max-width: 966px;
    }
}

@media (max-width:985px),(max-device-width:985px) {
    .row_team{
        max-width: 650px;
    }
}

@media (max-width:985px),(max-device-width:985px) {
    .row_team{
        max-width: 650px;
    }
}

@media (max-width:661px),(max-device-width:661px) {
    .row_team{
        justify-content: center;
    }
}

@media (max-width:1050px),(max-device-width:1050px) {
    .row_justifyContent_spaceAround_1050{
        justify-content: space-around;
    }

    .row__video{
        width: 80%;
        margin: 15px 0px;
    }
}

@media (max-width:945px),(max-device-width:945px) {
    .row_adaptive_945{
        flex-direction: column;
    }
}


@media (max-width:885px),(max-device-width:885px) {
    .row_adaptive_885{
        flex-direction: column;
    }
}

@media (max-width:670px),(max-device-width:670px) {
    .row_justifyContent_center_670{
        justify-content: center;
    }
}

@media (max-width:465px),(max-device-width:465px) {
    .row_wrap_465{
        flex-wrap: wrap;
    }
}

@media (max-width:400px),(max-device-width:400px) {
    .row_direction_col_when400{
        flex-direction: column;
        justify-content: center;
    }
}
