.list {
    padding: 10px 20px;
}

.list__title {
    text-transform:  uppercase;
}

.list__container{

}

.list__item{
    font-family: "Montserrat - Regular";
    font-size: 18px;
    line-height: 30px;
    padding-left: 30px;
    position: relative;
    margin-bottom: 20px;
}

.list__item:last-child{
    margin-bottom: 0px;
}

.list__item::before{
    position: absolute;
    content: "";
    width: 18px;
    height: 14px;
    background-image: url("img/list__li.png");
    left: 0%;
    top: 10%;
}
