.news-item{
    max-width: 250px;
    color: #000;
    text-decoration: none;
}

@media (max-width:850px),(max-device-width:850px) {
    .news-item{
        max-width: 185px;
        margin-right: 10px;
    }
}
